*:not(html) {
    max-width: 500px;
    overflow-x: hidden;
    font-family: monospace;
}
body, html {
    padding: 1rem;
    margin: 0;
    background-color: #011;
    min-height: calc(100% - 2rem);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
}
input {
    width: 60%;
    border: #077 2px solid;
    background: #011;
    color: #077;
    padding: .5rem;
    border-radius: 0;
}
button {
    border: #077 2px solid;
    background: #011;
    color: #077;
    padding: .5rem;
    border-radius: 0;
    cursor: pointer;
    margin: 5px;
}
h1, h2, h3, p {
    color: #077
}
p {
    margin-bottom: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
button:hover {
    background-color: #022;
}
#connectButton:hover {
    border-color: #070;
    color: #070;
}
#ko-fiButton:hover {
    border-color: #770;
    color: #770;
}
#discordButton:hover {
    border-color: #70b;
    color: #70b;
}
*::-webkit-scrollbar {
    display: none;
}
footer {
    width: 100%;
    text-align: center;
}
#globalOutput {
    border: 1px solid #077;
    min-height: 1rem;
    padding: 1rem;
    color: #077;
}